.App {
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

.link {
  text-decoration: none;
  color: black;
}

.navbar{
  display: flex;
  justify-content: center;
}

.navlinks{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlinks li{
  padding-right: 1rem;
}

.logo{
  display: flex;
  justify-content: center;
}
.logo ul{
  padding-right:1rem;
}
